//html {background-color: black; box-sizing: border-box; overflow-x: hidden; margin: none;}

body {opacity: 0; background-color: black;}

.header {
    background: black;
    box-shadow: 0px 0px 20px black;
    margin: -1.1% -0.5% 0% -1%;
    text-align: center;
    padding: 0.8%;
    border-bottom: white solid 1px;
}

.header li {
    color: white;
    display: inline;
    padding: 0% 3%;
    font-size: 155%;
    opacity: 0.5;
    font-family: 'Pragati Narrow', sans-serif;
    transition-property: color, opacity;
    transition-duration: 0.5s;
}

.header li:hover {
    color: silver;
    opacity: 1;
}

.header li:active {
    color: white;
    opacity: 1;
}

.active li {
    color: white;
    opacity: 1;    
}

.active li:hover {
    color: white;
    opacity: 1;
}

.header a {
    text-decoration: none;
}

.name {
    color: white;
    display: block;
    margin: auto;
    text-align: center;
}

.name h1 {
    font-size: 200%;
    text-shadow: 0px 0px 100px black;
    font-family: 'Abel', sans-serif;
    opacity: 0;
}

.gallery {
    max-height: 70vh;
    overflow-y: auto;
}

.gallery {
    float: right;
    width: 42%;
    margin: 0 6% 0 0%;
}

.gallery::-webkit-scrollbar-track {
	background-color: #454545;
	border-radius: 5px;
}

.gallery::-webkit-scrollbar {
	width: 10px;
	background-color: black;
}

.gallery::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #e6e6e6;
}

.img {
    margin: 0px 1% 4% 1%;
    width: 95%;
}

.img img {
    width: 100%;
    height: auto;
    border: 1px solid white;
}

.desc {
    margin: 5px -2px 0px 0px;
    border: 1px solid white;
    padding: 1%;
    text-align: center;
    background-color: white;
    font-size: 150%;
    font-family: 'EB Garamond', serif;
}

.bio {
    overflow-y: hidden;
    max-height: 70vmax;
    background-color: white;
    text-align: justify;
    text-indent: 8%;
    font-size: 3vh;
    border: 1px solid white;
    font-family: 'EB Garamond', serif;
}

.bio {
    float: left;
    clear: right;
    width: 40%;
    min-height: 70%;
    margin: 0 0% 0 6%;
    padding: 0 2%;
}

span {
    font-style: italic;
}

.bio::-webkit-scrollbar-track {
	background-color: silver;
	border-radius: 5px;
}

.bio::-webkit-scrollbar {
	width: 10px;
	background-color: white;
}

.bio::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: grey;
}

/*.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50vw;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    //[class*="col-"] {
        width: 100%;
    }
    html {
        overflow-x: hidden;
    }
    .gallery {
        float: left;
        clear: none;
        width: 99%;
        margin: 1% 4% 0% 3%;
        max-height: none;
    }
    .bio {
        float: left;
        clear: none;
        width: 90%;
        max-height: 500%;
        margin: 0 0% 2% 3%;
        padding: 0 2%;
        font-size: 3vmax;
    }
    .img {
        margin: 1% 0% 4% 0%;
        width: none;
    }
    .img img {
        width: 100%;
        height: auto;
        border: 1px solid white;
    }

    .desc {
        margin: 5px -2px 0px 0px;
        border: 1px solid white;
        padding: 1%;
        text-align: center;
        background-color: white;
        font-size: 3vmax;
        font-family: 'EB Garamond', serif;
    }
    .header {
        margin: 0 3%;
        padding: 0%;
        border-bottom: 1px solid white;
    }
    .header ul {
        margin-left: 0;
        padding-left: 0%;
    }
    .header li {
        text-align: left;
        display: block;
        width: 100%;
        padding: 0%;
        margin-left: 0;
        font-size: 3vmax;
    }
	.shothead {
		display: none;
	}
}


































