html {background-color: black;}

body {opacity: 0;}

.header {
    background: black;
    box-shadow: 0px 0px 20px black;
    margin: -1.1% -0.5% 0% -1%;
    text-align: center;
    padding: 0.8%;
    border-bottom: white solid 1px;
}

.header li {
    color: white;
    display: inline;
    padding: 0% 3%;
    font-size: 155%;
    opacity: 0.5;
    font-family: 'Pragati Narrow', sans-serif;
    transition-property: color, opacity;
    transition-duration: 0.5s;
}

.header li:hover {
    color: silver;
    opacity: 1;
}

.header li:active {
    color: white;
    opacity: 1;
}

.active li {
    color: white;
    opacity: 1;    
}

.active li:hover {
    color: white;
    opacity: 1;
}

.header a {
    text-decoration: none;
}

.name {
    color: white;
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}

.name h1 {
    font-size: 200%;
    text-shadow: 0px 0px 100px black;
    font-family: 'Abel', sans-serif;
    opacity: 0;
}

.gallery {
    float: left;
    clear: right;
    height: 75%;
    overflow-y: auto;
    width: 42%;
    margin: 0% 2% 0% 5%;
}

.gallery::-webkit-scrollbar-track {
	background-color: #454545;
	border-radius: 5px;
}

.gallery::-webkit-scrollbar {
	width: 10px;
	background-color: black;
}

.gallery::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #e6e6e6;
}

.img {
    margin: 0px 1% 4% 1%;
    width: 95%;
}

.img img {
    width: 100%;
    height: auto;
    border: 1px solid white;
}

.desc {
    margin: 5px -2px 0px 0px;
    border: 1px solid white;
    padding: 1%;
    text-align: center;
    background-color: white;
    font-size: 150%;
    font-family: 'EB Garamond', serif;
}

.bio {
    float: right;
    width: 40%;
    height: 74.9%;
    margin: 0% 5% 0% 0%;
    background-color: white;
    padding: 0% 2%;
    text-align: justify;
    text-indent: 8%;
    font-size: 150%;
    border: 1px solid white;
    font-family: 'EB Garamond', serif;
}

span {
    font-style: italic;
}



































