html {
    background-color: black;
    box-sizing: border-box;
}
body {
    background-image: url("https://lh3.googleusercontent.com/F2QqTCAe_rWiVcF8B-WWVfNPY36HIeAmNXL8eEHKrikZ0yxJCENtus1WsXlpZwokrBbBKQ5hT4baqCsQsnrgAVcKnHbZnVHtg-b0wLcIXnTJbN15jckwxZHcFj1Va_Qp5Ge-jREnsnLVaWN-g7MLtOjQMeUqeQiGUp9QpuR8j04MKnYeTtbfT3BW86aO5cjZQsmeE4vaQYuNRu_QvBvvetS_xsUVUm-vDN2v-a_M4QOEbCeHq2KVuivbADJRVtI8LhWX-mSKmghh8tlvQEIP0dfFXIlyctGI76GZw0BHsVaSJledyy1OIJxzFfAQKHnmhBCl0A35o0vBXN8rc0nwkbvRB9VesRq01E-rsJQbJNLJwmTASsd4Njg0wyzM8NELyMmoGifkCav2T-G8CNh7Bg-U2tFJLika4VnKpavnt9zw1gisHz40kHbd9LtVO_KL-M1_8hEyL2J7UkUK3ciKHa3JNSPFzvvm6kYMDxa_pjz2qDsY9mNqAZHUmGOLxjzlWiQNUxGLLLonDN8F8_wHgj86H_A8DjrZN_xlJCD0j6ice8-mzdH8n-nNEpw0eDvel1C0QimJ5I_ne5G2n2k7xZsRLtG2edbp957AU3rlMAKVKBViXA=w1282-h721-no");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    opacity: 0;
}
.header {
    background: black;
    box-shadow: 0px 0px 20px black;
    margin: -1.1% -0.5% 0% -1%;
    text-align: center;
    padding: 0.8%;
    border-bottom: white solid 1px;
}
.header li {
    color: white;
    display: inline;
    padding: 0% 3%;
    font-size: 155%;
    opacity: 0.5;
    font-family:'Pragati Narrow', sans-serif;
    transition-property: color, opacity;
    transition-duration: 0.5s;
}
.header li:hover {
    color: silver;
    opacity: 1;
}
.header li:active {
    color: white;
    opacity: 1;
}
.active li {
    color: white;
    opacity: 1;
}
.active li:hover {
    color: white;
    opacity: 1;
}
.header a {
    text-decoration: none;
}
.name {
    color: white;
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}
.name h1 {
    font-size: 740%;
    margin-top: 5%;
    margin-bottom: 0%;
    text-shadow: 0px 0px 100px black;
    font-family:'Abel', sans-serif;
    opacity: 0;
}
.name p {
    color: white;
    font-size: 215%;
    margin: 0%;
    text-shadow: 0px 0px 40px bl9ck;
    opacity: 0;
    font-family:'Cutive Mono', monospace;
}
