html {
    background-color: black;
}
body {
    background-image: url("https://lh3.googleusercontent.com/tpAabAVHEZ1IERLwxiobO356uyGoGlzYvRw8HcPkmI_xQXKm8aoTpdSBvzysGkwJbEw6RNmL4dAptnLk1HC6wODTOzovk00HVqJB93r4RCq4fKOBUJMSwIpnkX7OABpL_xlP8s5hZg0pCGEMtxS_1iEzGHPcUfubBpQY7AIFiTPojjEz6PENTWmC9bMEeKOX3-js1BajmsxG8Tr8swHUrgOk6ZaYsR-w2-PhYZDbfiV1XvkpsmuCWAvg51cSf_3O4jyBaWeWrmd1mSZyFZrCoTkt0tCut6FsIm0EjWi4AyG6T8FwH_Y_8n4ZAFBI-cFS8QWJ3qcMe4mrPCa7jKxLIthhBxUDDysReacRuJFAQOkmxLvAxl5RvgQ_fH_qqONZGovGQBdenYtHiDxiumV-lLQ64-Wr0HKrx4kKYk0il08SKuDyZBLV0pa0cy_gXm4kIu3T7qCOHyszd-IKYVnEu2UeSdIAhGe7wr_fsudxKoQsMrda_UPas0PPEssOfQsl-aTSlK8X30_JwlEdyjD_J1rITCH2luuldjaDHg5lMC12AxYo5KNXGs8tCJ3InRa6XwTihPs4cGLcqobmxvqNqGF28iSu8p7scpko8gpqeTR6Zqps6Q=w1151-h767-no");
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: 65% 100%;
    opacity: 0;
}
.header {
    background: black;
    box-shadow: 0px 0px 20px black;
    margin: -1.1% -0.5% 0% -1%;
    text-align: center;
    padding: 0.8%;
    border-bottom: white solid 1px;
}
.header li {
    color: white;
    display: inline;
    padding: 0% 3%;
    font-size: 155%;
    opacity: 0.5;
    font-family:'Pragati Narrow', sans-serif;
    transition-property: color, opacity;
    transition-duration: 0.5s;
}
.header li:hover {
    color: silver;
    opacity: 1;
}
.header li:active {
    color: white;
    opacity: 1;
}
.active li {
    color: white;
    opacity: 1;
}
.active li:hover {
    color: white;
    opacity: 1;
}
.header a {
    text-decoration: none;
}
.name {
    color: white;
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}
.name h1 {
    font-size: 740%;
    margin-top: 37%;
    margin-bottom: 0%;
    text-shadow: 0px 0px 100px black;
    font-family:'Abel', sans-serif;
    opacity: 0;
}
.name p {
    color: white;
    font-size: 215%;
    margin: 0%;
    text-shadow: 0px 0px 40px bl9ck;
    opacity: 0;
    font-family:'Cutive Mono', monospace;
}
