html {
    background-color: black;
}
body {
    background-image: url("https://lh3.googleusercontent.com/RfF4Zq2Teic5kkNYDlrVypLquNeIehpNKQjGqHknYxut7UVKWMiwph4xUF90gQKcRmhUvmqod-KbKwbGWi9sQ4wBvK-jxbkCWLs-DuPs9ZixvB9icvjHKEp8a0vtEGsoldCpk9MpZ8nlPzrtvmm-zZwAvGLbGzj7YhR8CSDvSje1iW18vI30_5qvyT_J5lB74NUzgrjPkegkdCaeA7cwqByrz5gx7nw1YuU3bzWlktOLgmQscJvQjaSAc58uByKHqbcmTEyX_-JBmMvMVTmUbaXJMcfquWu72dug_mW7ykO6DTmdxwlf2UsB3GbfW2wJnhMt_QSXYS5cMsw-xhzbDC1R3TVKLgcoEzouR17XM1qpzzfTsctWKiwceUU8WVbJm5OaVQP0vV_9GhP0S9GdQyutpA1c5GJFQEAi1SKlZ9ipJNYz-yxmzT6KJ5evPajFc4ZNaqu4lxg40D3srkHNwIrd8l_FRmcV61R4fZa2dITcBwRgx2oRQEaz5sP0RlCnvNhzihJelEEeRwJXdfhrB-7-UPRqD-maGxBJjDtTq9aJ5eP1v5vSoIeIxJyKAXv2M0tkpXlq_YkIsN4XP5YgPlh6K1wVI6HQH0PU0n41ZpceIUNHHA=w960-h635-no");
    background-repeat: no-repeat;
    background-size: 72%;
    background-position: 10% 100%;
    opacity: 0;
}
.header {
    background: black;
    box-shadow: 0px 0px 20px black;
    margin: -1.1% -0.5% 0% -1%;
    text-align: center;
    padding: 0.8%;
    border-bottom: white solid 1px;
}
.header li {
    color: white;
    display: inline;
    padding: 0% 3%;
    font-size: 155%;
    opacity: 0.5;
    font-family:'Pragati Narrow', sans-serif;
    transition-property: color, opacity;
    transition-duration: 0.5s;
}
.header li:hover {
    color: silver;
    opacity: 1;
}
.header li:active {
    color: white;
    opacity: 1;
}
.active li {
    color: white;
    opacity: 1;
}
.active li:hover {
    color: white;
    opacity: 1;
}
.header a {
    text-decoration: none;
}
.name {
    color: white;
    display: block;
    margin: auto;
    width: 50%;
    text-align: center;
}
.name h1 {
    font-size: 740%;
    margin-top: 37%;
    margin-bottom: 0%;
    text-shadow: 0px 0px 100px black;
    font-family:'Abel', sans-serif;
    opacity: 0;
}
.name p {
    color: white;
    font-size: 215%;
    margin: 0%;
    text-shadow: 0px 0px 40px bl9ck;
    opacity: 0;
    font-family:'Cutive Mono', monospace;
}
